# test cases TODO: remove when all are ready or dynamically loaded
sample/*
!sample/branch_protection_rule
!sample/label
!sample/ping
!sample/pull_request
!sample/push
!sample/release
!sample/repository
!sample/star
